aniso8601==1.2.0
asn1crypto==0.22.0
backports-abc==0.5
certifi==2017.4.17
cffi==1.10.0
chardet==3.0.3
click==6.7
cryptography==1.9
Flask==0.12.1
Flask-API==0.7.1
Flask-PyMongo==0.4.1
Flask-RESTful==0.3.5
Flask-SQLAlchemy==2.2
gunicorn==19.7.1
idna==2.5
itsdangerous==0.24
Jinja2==2.9.6
JPype1-py3==0.5.5.2
konlpy==0.4.4
MarkupSafe==1.0
marshmallow==3.0.0b2
mecab-python===0.996-ko-0.9.0
mecab-python3==0.7
mongoengine==0.13.0
pip-save==0.2.0
py==1.10.0
pycparser==2.17
pymessenger==0.0.7.0
pymongo==3.4.0
PyMySQL==0.7.11
pyOpenSSL==17.0.0
pysolr==3.6.0
pytest==3.1.0
python-dateutil==2.6.0
pytz==2017.2
requests==2.17.3
requests-toolbelt==0.7.1
six==1.10.0
SQLAlchemy==1.1.9
tornado==4.5.1
urllib3==1.21.1
uWSGI==2.0.15
watson-developer-cloud==0.26.0
Werkzeug==0.12.1
